<h3>Add Comment</h3>
<form>
    <div class="form-group">
        <p>Pick a Fruit</p>
        <ul class="horizontal-fruits">
            <li *ngFor="let fruit of fruits" title="{{fruit.description}}">
                <label>{{fruit.name}}</label>
                <img width="120px" src="{{fruit.photoUrl}}" alt="{{fruit.name}}" />
                <input [(ngModel)]="fruitId"  type="radio" name="fruitId" value="{{fruit.id}}" />
            </li>
        </ul>
       
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="author" name="author" placeholder="Enter Full Name" />
    </div>
    <div class="form-group">
        <label>Rating (1 - Dislike, 5 - Love)</label>
        <select [(ngModel)]="rating"  name="rating">
            <option *ngFor="let num of [1,2,3,4,5]" value="{{num}}">{{num}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>Comment</label>
        <textarea [(ngModel)]="comment"  name="comment" placeholder="Enter comment here"></textarea>
    </div>
    <div class="form-group">
        <button (click)="addComment()" type="button">Add Comment</button>
        <button type="reset">Clear</button>
    </div>
</form>
